body{
    background-color: #2b2a21;
    color: #eaf0a8;
}

.colonne_droite{
    text-align: right;
}

.sidebardiv{
    width: 200px;
    height: 100vh;
    background-color: aliceblue;
    right: 0;
    position: fixed;
    color: #2b2a21;

    display: flex;
    top: 0;
    transform: translateY(0);
    padding: 10px;
}

/* faudra changer les couleurs parce qu'elles laissent a désirer */
